node_modules
*.tgz

# Build & test output
dist/
coverage/
.capacitor-sdk-source.stamp
.cap-sync.stamp

# macOS
.DS_Store

# IDE
.idea
*.iml

# iOS
Pods/
Podfile.lock
Package.resolved
DerivedData/
xcuserdata/
/.build
.swiftpm/

# Android
.gradle/
build/
local.properties
**/capacitor.build.gradle
*.orig
*.apk
*.dex
*.class

# Secrets
.env

# Examples
examples/*/node_modules
examples/*/bun.lock
examples/*/dist
examples/*/android/app/build
examples/*/android/app/.cxx
examples/*/android/.gradle
examples/*/android/.idea
examples/*/android/build
examples/*/android/local.properties
examples/*/android/capacitor.build.gradle
examples/*/ios/App/Pods
examples/*/ios/App/Podfile.lock
examples/*/ios/App/App.xcworkspace/xcshareddata
examples/*/ios/App/App.xcworkspace/xcuserdata
examples/*/ios/App/DerivedData
